*{
    font-size: 17px;
    font-family: poopins;
}


.car{
    width: 100vw;
    height: 50vh;
    padding: 10%;
    padding-top: 7%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.cars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5%;
    color: #fff;
    font-weight: 600;
}

.carAdd{
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: 100px;
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 35vh;
    width: 250px;
    gap: 5px;
    background-color: rgba(240, 248, 255, 0.401);
    border-radius: 10%;
    transition: 0.2s all ease; 
    box-shadow: 5px 5px 15px rgb(88, 88, 88);
}

.carAdd::-webkit-scrollbar{
    width: 6px;
    height: 25vh;   
}

.carAdd:hover{
    box-shadow: 5px 5px 20px rgb(88, 88, 88);
    transform: scale(1.02);
}

.carAdd h2{
    padding: 0;
    padding-left: 5px;
}

.carAdd li{
    box-shadow: 2px 2px 5px rgb(40, 40, 40);
    padding: 4px;
    padding-right: 2px;
    display: flex;
    border-radius: 10%; 
    justify-content: space-between;
    
    transition: 0.1s all ease;    
}

.carAdd li:hover{
    transform: scale(1.05);

}
.carAdd li button{
    transition: 0.3s all ease; 
    padding: 1%;
    border: 0px;
    border-radius: 20%;
    cursor: pointer;
    background-color: transparent;
    transition: 0.6s all ease; 
}
.carAdd li button:hover{
    background-color: white;
}
#addCar_input{
    height: 30px;
    width: 300px;
    padding: 3px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 28px;
    transition: 0.3s all ease; 
    outline: none; 
}

#addCar_input:hover{
    box-shadow: 5px 5px 20px rgb(74, 73, 73);
    transform: scale(1.01);
    border-style: none;
}

.carAdd_input{
    display: flex;
    gap: 20px;    
}


#addCar_button{
    /* background-color: rgba(38, 0, 255, 0.856); */
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center ;
    border: 6px solid rgba(120, 93, 200, 0.855);
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    height: 38px;
    width: 38px;
    color: rgb(34, 34, 92);
}
#addcar_button:hover{
    border: 6px solid rgb(120, 93, 200);
}
li{
    list-style: none;
}

.bin{
    border-radius: 10%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding: 3%;
    height: 32vh;
    width: 220px;
    background-color: #ffffff63;
    padding-bottom: 10px;
    transition: 0.3s all ease; 
    box-shadow: 5px 5px 15px rgb(88, 88, 88);
}

.bin::-webkit-scrollbar{
    width: 6px;
    height: 25vh;   
}
.bin:hover{
    box-shadow: 5px 5px 20px rgb(88, 88, 88);
    transform: scale(1.02);
}
.bin_list li{
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: space-between; 
    padding: 4px;
    padding-right: 2px;
    border-radius: 10%;
    transition: 0.2s all ease;
}

.bin li button{
    transition: 0.3s all ease; 
    padding: 1%;
    border: 0px;
    border-radius: 20%;
    cursor: pointer;
    background-color: transparent;
}
.bin li button:hover{
    background-color: white;
    
}
.bin li:hover{
    transform: scale(1.05);
}

.bin_list{
height: 30vh;
display: flex;
flex-direction: column;
gap: 5px;
}

.bin_btn{
    display: flex;
    justify-content: space-evenly;
}
.bin_btn button{
    padding: 1%;
    background-color: white;
    border-radius: 20%;
    border: 0px;
    transition: 0.3s all ease;
    cursor: pointer;
}
.heading{
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
}
.heading h2{
    font-size: 25px;
}

.bin_btn button:hover{
    transform: scale(1.3);
background-color: transparent;
    
}

#restoreAll{

}